@page "/favorites"

<link href="css/Listings/list-view.css" rel="stylesheet" />

<div class="listing-wrapper" style="width:95vw; height:95vh">
    <div class="listing-search"><ListingSearch></ListingSearch></div>
    <div class="listing-list"><FavoritesList></FavoritesList></div>
</div>

@code{
    [Parameter]
    public int listingId { get; set; } = 0;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}

