<link href="css/Listings/listing-search.css" rel="stylesheet" />

<div class="listing-search-wrapper" style="">
    <div class="search-container">
        <nav class="navbar" style="height:100px; width: 100vh">
            <div class="input-group" style="margin-left:30px; margin-top: 20px;">
                <input style="height:50px"type="search" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </nav>
    </div>
</div>