@inject IJSRuntime JSRuntime

<link href="css/LandingPage/landing-listings.css" rel="stylesheet" />

<div class="listings-wrapper content">
    <div class="listing-list" style="height:10vh;"><Filter></Filter></div>
    <div class="listing-list" style="height:70vh;"><LandingList></LandingList></div>
</div>
