@page "/realtors"
@using Blazored.Modal

<link href="css/RealtorPage/realtor-page.css" rel="stylesheet" />

<div class="wrapper" style="height:95vh">
  <div class="realtors-layout smooth-corners"><RealtorSide></RealtorSide></div>
  <div class="details-layout smooth-corners"><RealtorListings></RealtorListings></div>
</div>

@code{
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}