@page "/chatView"

<link href="css/ChatView/ChatView.css" rel="stylesheet" />
<body>
<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" /></head><body><div class="v75_2951"><div class="v2_16"><div class="v41_20"></div><div class="v41_21"></div><div class="v41_22"></div><div class="v41_25"></div><div class="v41_24"></div><span class="v41_27">Mark Hall</span><span class="v41_28">Realtor</span><div class="v41_29"></div><span class="v41_31">Ellen Ripley</span><span class="v41_32">Homeowner (99 Nostra Ave. NW)</span><div class="v41_34"></div><div class="v41_36"></div><div class="v41_54"></div><div class="v64_249"></div><div class="v64_250"></div><span class="v41_37">Search...</span><div class="v41_41"></div><div class="v41_42"></div><div class="v41_45"></div><div class="v41_46"></div><span class="v41_47">Mark Hall</span><span class="v41_48">Let’s set up a meeting when you are available.</span><div class="v41_49"></div><span class="v41_52">How can I help?</span><div class="v41_50"></div><span class="v41_53">I’m looking to see about purchasing 99 Nostra Ave. NW</span><span class="v41_55">Go</span><div class="v75_448"></div><div class="v75_452"><div class="v75_453"></div><div class="v75_454"></div></div><div class="v74_1298"><div class="v74_1299"></div><span class="v74_1300">Book a meeting!</span></div></div></div></body></html> <br/><br/> <style>* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v75_2951 {
  width: 100%;
  height: 941px;
  background: url("/Images/maleuser.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_16 {
  width: 100%;
  height: 941px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_20 {
  width: 756px;
  height: 938px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(155,155,155,1);
  overflow: hidden;
}
.v41_21 {
  width: 100%;
  height: 938px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 756px;
  border: 4px solid rgba(155,155,155,1);
  overflow: hidden;
}
.v41_22 {
  width: 756px;
  height: 203px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(155,155,155,1);
  overflow: hidden;
}
.v41_25 {
  width: 756px;
  height: 144px;
  background: rgba(216,232,255,1);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 0px;
  border: 4px solid rgba(155,155,155,1);
  overflow: hidden;
}
.v41_24 {
  width: 92px;
  height: 96px;
  background: url("/Images/maleuser.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 24px;
  overflow: hidden;
}
.v41_27 {
  width: 224px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 237px;
  left: 154px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_28 {
  width: 229px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 286px;
  left: 154px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v41_29 {
  width: 756px;
  height: 144px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 0px;
  border: 4px solid rgba(155,155,155,1);
  overflow: hidden;
}
.v41_31 {
  width: 224px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 381px;
  left: 154px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_32 {
  width: 570px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 428px;
  left: 154px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v41_34 {
  width: 84px;
  height: 84px;
  background: url("/Images/femaleuser.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 28px;
  overflow: hidden;
}
.v41_36 {
  width: 538px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 28px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v41_54 {
  width: 138px;
  height: 78px;
  background: rgba(49,122,230,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 592px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v64_249 {
  width: 538px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 28px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v64_250 {
  width: 138px;
  height: 78px;
  background: rgba(49,122,230,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 592px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v41_37 {
  width: 191px;
  color: rgba(100,100,100,1);
  position: absolute;
  top: 83px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v41_41 {
  width: 100%;
  height: 123px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 756px;
  border: 4px solid rgba(155,155,155,1);
  overflow: hidden;
}
.v41_42 {
  width: 100%;
  height: 232px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 756px;
  border: 4px solid rgba(143,143,143,1);
  overflow: hidden;
}
.v41_45 {
  width: 880px;
  height: 180px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 792px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v41_46 {
  width: 92px;
  height: 96px;
  background: url("/Images/maleuser.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 780px;
  overflow: hidden;
}
.v41_47 {
  width: 224px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 893px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v41_48 {
  width: 670px;
  color: rgba(54,54,54,1);
  position: absolute;
  top: 751px;
  left: 821px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v41_49 {
  width: 336px;
  height: 73px;
  background: rgba(223,223,223,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 801px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v41_52 {
  width: 427px;
  color: rgba(54,54,54,1);
  position: absolute;
  top: 179px;
  left: 826px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_50 {
  width: 527px;
  height: 122px;
  background: rgba(106,165,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1300px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v41_53 {
  width: 497px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 301px;
  left: 1320px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_55 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 639px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v75_448 {
  width: 104px;
  height: 104px;
  background: rgba(28,138,219,1);
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 1700px;
  border-radius: 50%;
}
.v75_452 {
  width: 71px;
  height: 71px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 1718px;
  overflow: hidden;
}
.v75_453 {
  width: 71px;
  height: 71px;
  opacity: 1;
  background: url("Images/send.png");
  position: relative;
  top: 0px;
  left: 0px;
}
.v75_454 {
  width: 62px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  content: url("/Images/send.png");

  top: 8px;
  left: 6px;
}
.v74_1298 {
  width: 389px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1420px;
  overflow: hidden;
}
.v74_1299 {
  width: 389px;
  height: 83px;
  background: rgba(106,165,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v74_1300 {
  width: 314px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 38px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
</style>
</body>
