<a href="/external"><button class="btn btn-primary" style="margin-top:30px; margin-left:20px; font-size:18px; font-weight: bold; width:200px" type="button">Explore a 3D Tour</button></a>
<a href="/external"><button class="btn btn-primary" style="margin-top:20px; margin-left:20px; font-size:18px; font-weight: bold; width:200px" type="button">Download Floorplan</button></a>
<a href="/external"><button class="btn btn-primary" style="margin-top:20px; margin-left:20px; font-size:18px; font-weight: bold; width:200px" type="button">Share Listing</button></a>