@page "/editRealtorProfile2"

<link href="css/CreateAccount/CreateAccount.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Create Account Page </title>  
<body>    
<div class="container1" style="background-color:white;">
  <div class="centered" style="color:black;"><br><br><h2>Edit Realtor Details</h2></div>
</div>
 <form>  
        <br><br><br><br><br>
        <div class="row">   
            <div class = "column" style = "background-color:white;">
                <label>City</label>   
                <input type="text" placeholder="Enter city name" name="city" required >  <br>
                <label>Personal Summary</label>   
                <input type="hightxt" placeholder="Personal Summary.." name="city" required >  <br>
            </div>
             <div class = "column" style = "background-color:white;">
                <label>Neighbourhood</label>   <br>
                <input type="text"  placeholder="Enter Neighbourhood name" name="username" required ><br>
                <label>Spoken Languages</label>  <br>
                <input type="text" placeholder="Enter Languages" name="password" required >  <br><br><br>
                <button type="submit" class="signupbtn" >Save Details</button>
            </div>    
            </div>   
    </form>     

</body>