@page "/calendarView"
@* <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script> *@

<link href="css/CreateAccount/CreateAccount.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Create Account Page </title>  
<body>    
<div class="container1">
  <img src="/Images/skyscraper.jpg" alt="Snow" style="width:100%;height:300px">
  <div class="centered"><h1>CREATE REALTOR ACCOUNT</h1></div>
</div>
 <form>  
        <div class="row1">
        <div class="column1 left1" style="background-color:white;">
            <br><br><br>

           <span class="iconify" data-icon="logos:google-calendar"></span>
           <h4><b>Synced with </b><br>Bond Estate 2022 Calendar</h4>
            <button type="submit" class="connect" >Connect</button>
            <span class="iconify" data-icon="uiw:reload"></span>

        </div>
        <div class="column1 right1" style="background-color:white;">
            <br><br><br>
            <h3>To schedule meetings with users, Bond Estate requires connecting with 
                a Google Calendar. Meetings can only be scheduled during times where 
                no event is scheduled in the calendar. 
                <b>We recommend creating a new calendar for this purpose.</b></h3><br>
             <button type="submit" class="signupbtn" >Create Account</button>
        </div>
        </div>
    </form>     
</body>