@page "/createRealtorAccount2"

<link href="css/CreateAccount/CreateAccount.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Create Account Page </title>  
<body>    
<div class="container1">
  <img src="/Images/skyscraper.jpg" alt="Snow" style="width:100%;height:300px">
  <div class="centered"><h1>CREATE REALTOR ACCOUNT</h1></div>
</div>
 <form>  
        <div class="row">   
            <div class = "column" style = "background-color:white;">
                <label>City</label>   
                <input type="text" placeholder="Enter city name" name="city" required >  <br>
                <label>Personal Summary</label>   
                <input type="hightxt" placeholder="Personal Summary.." name="city" required >  <br>

            </div>
             <div class = "column" style = "background-color:white;">
                <label>Neighbourhood</label>   <br>
                <input type="text"  placeholder="Enter Neighbourhood name" name="username" required >  <br>
                <label>Spoken Languages</label>  <br>
                <input type="text" placeholder="Enter Languages" name="password" required >  <br>
                <a href="/calendarView">
                <button type="submit" class="signupbtn" >Next step</button></a>


            </div>
    
            </div>   
    </form>     

</body>