@page "/createAccountLandingPage"

<link href="css/CreateAccount/CreateAccount.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Create Account Page </title>  
<body>    
<div class="container1">
  <img src="/Images/skyscraper.jpg" alt="Snow" style="width:100%;height:300px">
  <div class="centered"><h1>CREATE ACCOUNT</h1></div>
</div>

<div class="row">
  <div class="column" style="background-color:white;">
    <a class="my-button1" title="Relevant Title" href="/createAccount1">I am a Regular User</a>
  </div>
  <div class="column" style="background-color:white;">
    <a class="my-button" title="Relevant Title" href="/createRealtorAccount">I am a Realtor</a>

  </div>
</div>
</body>