@page "/login"

<link href="css/Login/login.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<body>    
<div class="container1" >
  <img src="/Images/skyscraper.jpg" alt="Snow" style="width:100%;height:300px">
  <div class="centered"><h1>LOGIN</h1></div>
</div>
    <form>  
        <div class="container" >   
            <label>Username</label>   
            <input type="text" placeholder="Enter Username" name="username" required >  <br>
            <label>Password</label>   
            <input type="password" placeholder="Enter Password" name="password" required><br>  
            <button type="submit">Login</button>   
            <a href="/createAccountLandingPage"><button type = "submit" class="check">Create Account</button></a>
            @* <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>    *@
        </div>   
    </form>     
</body>     

